<nav class="navbar navbar-light mt-4">
  <a class="navbar-brand">Tiny GitHub</a>
  <div class="dropdown">
    <img class="rounded-circle" src= {{user.avatarUrl}} height="42px" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-lg-left">
      <h6 class="dropdown-header">{{user.login}}</h6>
      <a class="dropdown-item" href="#">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" {{action 'logout'}}>Log out</a>
    </div>
  </div>
</nav>
