<div class="col-5 mx-auto mt-5">
  <div class="Box box-shadow ">
    <div class="Box-row">
      <h3 class="m-0">Tiny GitHub</h3>
    </div>
    <div class="Box-row">
      <img src="https://octodex.github.com/images/puppeteer.png" class="img-fluid">
    </div>
    <div class="Box-row">
      <button type="button" onclick={{action "login"}} name="login" class="btn btn-primary btn-large btn-block">
        Sign in to GitHub
      </button>
    </div>
  </div>
</div>
